@using Desk.Constants

@inject Desk.Contracts.Services.IUserService UserService

@model Desk.Models.Device.MultiFunctionPrinter.KonicaMinoltaViewModel

@{
	Layout = "~/Views/Shared/_CreateLayout.cshtml";
}

@section SpecialProperty
{
	@* Request Type *@		
	<div class="@Styles.CreateRow">
		<div class="@Styles.CreateLeftColumn">
			@Html.DisplayNameFor(model => model.SpecialProperties!.RequestType)
		</div>
		<div class="@Styles.CreateRightColumn">
			@foreach (var item in Dictionaries.PrinterRequestType)
			{
				<input type="radio" class="btn-check btn-primary" name="SpecialProperties.RequestType" id="@item.Key" value="@item.Key" autocomplete="off" @(item.Key == Dictionaries.PrinterRequestType.Keys.First() ? "checked" : "")>
				<label class="btn" for="@item.Key">@item.Value</label>
			}
		</div>
	</div>

	@* Device ID *@
	<div class="@Styles.CreateRow">
		<div class="@Styles.CreateLeftColumn">
			<label asp-for="SpecialProperties!.DeviceId" class="control-label"></label>
		</div>
		<div class="@Styles.CreateRightColumn">
			<input asp-for="SpecialProperties!.DeviceId" class="form-control w-50" />
			<span asp-validation-for="SpecialProperties!.DeviceId" class="text-danger"></span>
		</div>
	</div>

	@* Device Address *@
	<div class="@Styles.CreateRow">
		<div class="@Styles.CreateLeftColumn">
			<label asp-for="SpecialProperties!.Address" class="control-label"></label>
		</div>
		<div class="@Styles.CreateRightColumn">
			<input asp-for="SpecialProperties!.Address" class="form-control w-50" />
			<span asp-validation-for="SpecialProperties!.Address" class="text-danger" autocomplete="on"></span>
		</div>
	</div>

	@* Count of Black Pages *@
	<div class="@Styles.CreateRow">
		<div class="@Styles.CreateLeftColumn">
			<label asp-for="SpecialProperties!.BlackCount" class="control-label"></label>
		</div>
		<div class="@Styles.CreateRightColumn">
			<input asp-for="SpecialProperties!.BlackCount" class="form-control w-50" />
			<span asp-validation-for="SpecialProperties!.BlackCount" class="text-danger"></span>
		</div>
	</div>

	@* Count of Colored Pages *@
	<div class="@Styles.CreateRow">
		<div class="@Styles.CreateLeftColumn">
			<label asp-for="SpecialProperties!.ColorCount" class="control-label"></label>
		</div>
		<div class="@Styles.CreateRightColumn">
			<input asp-for="SpecialProperties!.ColorCount" class="form-control w-50" />
			<span asp-validation-for="SpecialProperties!.ColorCount" class="text-danger"></span>
		</div>
	</div>

	@* Count of Scanned Pages *@
	<div class="@Styles.CreateRow">
		<div class="@Styles.CreateLeftColumn">
			<label asp-for="SpecialProperties!.ScannedCount" class="control-label"></label>
		</div>
		<div class="@Styles.CreateRightColumn">
			<input asp-for="SpecialProperties!.ScannedCount" class="form-control w-50" />
			<span asp-validation-for="SpecialProperties!.ScannedCount" class="text-danger"></span>
		</div>
	</div>

	@* Requires Preventive Maintenance *@
	<div class="@Styles.CreateRow">
		<div class="@Styles.CreateLeftColumn">
			@Html.DisplayNameFor(model => model.SpecialProperties!.IsPreventiveMaintenance)
		</div>
		<div class="@Styles.CreateRightColumn">
			<input type="radio" class="btn-check btn-primary" name="SpecialProperties.IsPreventiveMaintenance" id="True" value="true" autocomplete="off">
			<label class="btn" for="True">Igen</label>
			<input type="radio" class="btn-check btn-primary" name="SpecialProperties.IsPreventiveMaintenance" id="False" value="false" autocomplete="off" checked>
			<label class="btn" for="False">Nem</label>
		</div>
	</div>
}